name: ff
description: "fully fledged, frickin' fast flutter-framework. It relies heavily on code-gen although not using dart build-runner but its own, native file watcher."
version: 0.1.1
homepage: https://github.com/HannesGitH/ff

environment:
  sdk: ^3.10.7
  flutter: ">=3.29.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
