name: ff
description: "fully fledged, frickin' fast flutter-framework"
version: 0.1.0
homepage: https://github.com/HannesGitH/ff

environment:
  sdk: ^3.10.7
  flutter: ">=3.29.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
